<!DOCTYPE html>
<html>
  <head>
    <title>Mtgame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="text-align:center">
    <div style="font-size:30px">
      <%= link_to "팀 등록", new_team_path %>
      <%= link_to "팀 현황", teams_path %>
      <%= link_to "결합", combinations_path %>
      <%= link_to "초성 퀴즈", words_path %>
      <%= link_to "혼돈의 카오스", chaoses_path %>
      <%= link_to "벌칙", penalties_path %>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
